<div class="max-w-2xl mx-auto py-10">
  <div class="mb-8 text-center">
    <h1 class="font-['Poppins'] text-3xl font-bold text-slate-900">New Fragment</h1>
    <p class="text-slate-500 text-sm mt-1">今の思考を、カケラとして残しましょう。</p>
  </div>

  <div class="min-h-screen bg-slate-50/50 py-2 px-4">
  <%= render "form", fragment: @fragment %>
  </div>
</div>